<form [formGroup]="formToOrder" class="orderForm" (ngSubmit)="addOrder()">
  <h2>Adres dostawy i dane kontaktowe</h2>
  <table class="orderFrom">
    <tr>
      <td>Imie:</td>
      <td><input type="text" formControlName="firstName"></td>
    </tr>
    <tr>
      <td>Nazwisko:</td>
      <td><input type="text" formControlName="lastName"></td>
    </tr>
    <tr>
      <td>Miasto:</td>
      <td><input type="text" formControlName="town"></td>
    </tr>
    <tr>
      <td>Ulica:</td>
      <td><input type="text" formControlName="street"></td>
    </tr>
    <tr>
      <td>Numer:</td>
      <td><input type="text" formControlName="number"></td>
    </tr>
    <tr>
      <td>Telefon:</td>
      <td><input type="tel" formControlName="mobile"></td>
    </tr>
  </table>
  <button type="submit">Zamów</button>
</form>





