<div class="dishes">
  <button class="button" href="#" (click)="getPizza($event)">PIZZA</button>
  <button class="button" href="#" (click)="getPasta($event)">PASTA</button>
  <button class="button" href="#" (click)="getDrinks($event)">NAPOJE</button>
</div>
<div class="basket" >
  <app-cart></app-cart>
</div>
<table class="menu">
  <h2>MENU</h2>
  <tr>
    <td>Nazwa</td>
    <td>Rodzaj</td>
    <td>Opis</td>
    <td>Cena</td>
  </tr>
  <tr *ngFor="let dish of menuService.dishes$ | async">
    <td>{{dish.name}}</td>
    <td>{{dish.type}}</td>
    <td>{{dish.description}}</td>
    <td>{{dish.price}}</td>
    <td>
      <button href="#" (click)="addDishToCart(dish)">Kup</button>
    </td>
  </tr>
</table>



