.container {
  border: double  ;
  font-family: "Sylfaen", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align-content: center;
  background: 100%;
  background: 100%;
  background: url("https://www.przyslijprzepis.pl/uploads/media/recipe/0004/32/6c1903ac6e68a98fbcf463ba03ee18699a4ec09c.jpeg");
}

.header {
  font-family: "Sylfaen", Arial, Helvetica, sans-serif;
  align-content: center;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
  position: fixed;
}

.button {
  font: bold 18px Sylfaen;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
}

.button:hover {
  font: bold 20px Sylfaen;
  background-color: seashell;
  padding: 2px;
  transition-duration: 1s;
}

.buttons {
  background-color: red;
  height: 40px;
  width: 100%;
  align-content: center;
  align-items: center;
}

.text {
  font-family: "Sylfaen", Arial, Helvetica, bold, cursive;
  align-content: center;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  color: white;
}

.images {
  width: 150px;
  height: 150px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}



