<button class="button" href="#" (click)="getPizza($event)">PIZZA</button>
<button class="button" href="#" (click)="getPasta($event)">PASTA</button>
<button class="button" href="#" (click)="getDrinks($event)">NAPOJE</button>
<button class="button" [routerLink]="['/admin/order-list']">ZAMÓWIENIA</button>
  <br>
<br>
<table class="menu">
  <tr>
    <td>Name</td>
    <td>Type</td>
    <td>Description</td>
    <td>Price</td>
  </tr>
  <tr *ngFor="let dish of menuService.dishes$ | async">
    <td>{{dish.name}}</td>
    <td>{{dish.type}}</td>
    <td>{{dish.description}}</td>
    <td>{{dish.price}}</td>
    <td>
      <button class="dish" [routerLink]="['/dish-details', dish.id]">
        Szczegóły i edycja
      </button>
    </td>
  </tr>
</table>



