<div class="cart">
  <h2>KOSZYK</h2>
  <table class="menu">
    <tr>
      <td>Nazwa</td>
      <td>Opis</td>
      <td>Cena</td>
    </tr>
    <tr *ngFor="let dish of dishes">
      <td>{{dish.name}}</td>
      <td>{{dish.description}}</td>
      <td>{{dish.price}}</td>
      <button href="#" (click)="removeDishFromCart(dish)">Usuń</button>
    </tr>
  </table>
  <div>Koszt zamówienia: <output class="totalCost">{{calculateBasketCost()}}</output> </div>
  <button class="dish" [routerLink]="['/orders']">ZAMÓW</button>
</div>
